#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;

    display: flex;
    background:  #f0f0f5;
    flex-direction: column;
    
}

#page-create-point header {
    display: flex;
    
    align-items: center;
    justify-content: space-between; 
    margin-top: 40px;
}

#page-create-point header a {

    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;

}

#page-create-point main {
    margin-top: 40px;
}

#page-create-point header a span {

    margin-right: 16px;
    display: flex;
    
    background-image: url('../assets/arrow-left.svg');

    width: 20px;
    height: 24px;

}

form {

    background-color: white;
    margin: 80px;
    padding: 50px;
    margin-top: 80px;  /*Padding com max-widthi aumenta a caixa*/
    border-radius: 8px;

    max-width: 730px;


}

.group-endereco-numero {
    display: flex;
    justify-content: space-between;   

}

.group-cidade-estado {
    display: flex;
    justify-content: space-between;   

}

input, select {
    padding: 10px;
    background-color:  #f0f0f5;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
    
}

fieldset {
    padding: 20px;
    border: none;
    margin-top: 20px;   
    display: flex;
}


.field>input {
    width: 100%;
}

.field {

    display: flex;
    flex-direction: column;
    margin: 0 20px;

}

.endereco-w {
    width: 70%;
}

fieldset>.group-cidade-estado>cidade-w {
    width: 50%;
    
}


button {

    height: 40px;
    width: 260px;
    background: var(--primary-color);
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
}









































