html {

    position: fixed;
    width: 100%;
    height: 100%;
}

#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;

    display: flex;
    background:  #f0f0f5;
    flex-direction: column;
    
}

#page-create-point header {
    display: flex;
    
    align-items: center;
    justify-content: space-between; 
    margin-top: 40px;
}

#page-create-point header a {

    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;

}


#page-create-point header a span {

    margin-right: 16px;
    display: flex;
    
    background-image: url('../assets/arrow-left.svg');

    width: 20px;
    height: 24px;

}

form {

    background-color: white;
    margin: 80px auto;
    padding: 50px;
    margin-top: 80px;  /*Padding com max-widthi aumenta a caixa*/
    border-radius: 8px;

    max-width: 730px;

}

form h1 {
    font-size: 36px;
}

form fieldset {

    border: none;
    margin-top: 20px;   
    display: flex;
}

form legend {
    margin-bottom: 30px;
}

form legend h2 {
    font-size: 20px;
}

label {
    font-size: 17px;
    margin-bottom: 9px;
}



.field {

    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;


}


.group-endereco-numero {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.group-endereco-numero .numero {
    margin-left: 30px;
}

.group-cidade-estado {
    display: flex;
    justify-content: space-between; 

}

.group-cidade-estado .cidade {
    margin-left: 30px;
}



input, select {
    padding: 10px;
    background-color:  #f0f0f5;
    font-size: 16px;
    
    border: none;
    border-radius: 5px;
    outline: none;

    width: 100%;
    
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {

    height: 40px;
    width: 260px;
    background: var(--primary-color);
    font-size: 15px;
    border: none;
    outline: none;
    color: white;

    border-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    margin-top: 40px;

    transition: 400ms;
}

button:hover {
    background-color: #2fb86e;
}






































